body {
    background-color: rgb(207, 128, 246);
    color: white;
    text-align: center;
}

.text {
}

#mainheader {
    text-shadow: rgb(16, 16, 98) 1px 0 10px;
    
}

#cupcakename {
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 132, 251);
}