body {
    background-color: rgb(207, 128, 246);
    color: white;
    text-align: center;
}

.text {
    color: white;
    font-size: 16px;
}

#mainheader {
    text-shadow: rgb(10, 10, 57) 1px 0 10px;
    font-size: 60px;
    margin-top: 60px;
    
}

#subheader {
        text-shadow: rgb(10, 10, 57) 1px 0 10px;
        font-size: 30px;
        
}

#name_of_cupcake{
    text-shadow: rgb(16, 16, 98) 1px 0 10px;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 132, 251);
}