<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Cupcake Corner</title>
</head>
<body>
    <h1 id="mainheader">Cupcake Corner</h1>
    <h2 id="subheader">Main Menu</h2>
    <a href="/order"><button>View Order</button></a>
    <a href="/secret"><button>How They Are Made</button></a>
        
    </a>
    {% for cupcake in cupcakes %}
        <h2 id="name_of_cupcake">{{ cupcake["name"].title() }}</h2>
        <p class="text"><b>Cake Flavor:</b> {{ cupcake["cake"].title() }}</p>
        <p class="text"><b>Frosting:</b> {{ cupcake["frosting"].title() }}</p>
        <p class="text"><b>Price:</b> ${{ cupcake["price"] }}</p>
        <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
            <button>Add to Cart</button>
        </a>
    {% endfor %}

    
</body>
</html>