<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>How it's made</title>
</head>
<body>
    <h1 id="mainheader">How Corner Cupcakes are made</h1>
    <p id="subheader">Take a virtual peek into our kitchen and see what makes our cupcakes stand out!</p>
    
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/L-dzu7-YHLo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
    <br>
    <br>
    <a href="/">
        <button>Back Home</button>
    </a> 
    </body>
</html>